    {% extends 'base.html' %}
    {% load bootstrap3 %}
    {% block page %}
        <h1>Поиск</h1>
        {% if post %}
            {% for article in po %}
                <article>
                    <a href="{{ article.get_absolute_url }}">
                        <h2>{{ article.article_title }}</h2>
                    </a>
                    {{ article.desctription|safe }}
                    <p><a class="btn btn-default btn-sm" href="{{ article.get_absolute_url }}">Читать далее</a></p>
                </article>
            {% endfor %}
            {% bootstrap_pagination article_lists url=last_question %}
        {% else %}
            <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
        {% endif %}
    {% endblock %}