// // grid
// $breakpoint-mobile: 690px;
// $breakpoint-hockey: 700px;
// $breakpoint-md: 815px;
// $breakpoint-vb: 951px;
// $breakpoint-xl: 1049px;
// $breakpoint-desk: 1920px;

// container size
$container-tablet: 700px;
$container-laptop: 1340px;
$container-desk: 1440px;
