{% extends 'new_base2.html' %}
{% load static %}
{% block title %} {{ post.titleseo }} {% endblock title %}
{% block description %}{{ post.desciptionsseo }}{% endblock description %}

{% block mobile_menu %}
        {% for mobile_menu in maincategorys %}
          <li class="popup__nav-item">
            <a href="{{ mobile_menu.get_absolute_url }}">
              <span>{{ mobile_menu.name }}</span>
            </a>
          </li>
        {% endfor %}

{% endblock mobile_menu %}

{% block desktop_menu %}
    {% for main in maincategorys %}
        <li class="aside__item aside__item--active">
        <a href="{{ main.get_absolute_url }}">
        <span>{{ main.name }}</span>
        </a>
        </li>
    {% endfor %}
{% endblock desktop_menu %}
{% block h1 %} {{ post.name }}{% endblock h1 %}

{% block product_cat %}
    {% for prodect_cat in categories %}
        <li class="content__tag content__tag--fire">



    <a href="{{ prodect_cat.get_absolute_url }}">
          <div class="content__icon">
            <img src="{{ prodect_cat.icon.url }}" alt="{{ prodect_cat.name }}" />
          </div>
    <span>{{ prodect_cat.name }}</span>
    </a>
        </li>
    {% endfor %}
{% endblock product_cat %}


{% block cards_product %}
{% endblock cards_product %}

{% block product_info %}
    <div class="product">
            <div class="product__card">
                <div class="product__info">

              <div class="product__content product__shirina">{{ post.text|safe }}</div>
          </div>
</div>
</div>
{% endblock product_info %}
{% block rewrite %}
     <div class="reviews" id="reviews">
            <h2 class="reviews__title">Отзывы <span class="reviews__counter">12</span></h2>

          </div>
{% endblock rewrite %}
{% block cards_rating %}
     <div class="info__subscriptions">
            <div class="info__headers">
              <h3>Категории</h3>
            </div>
            <ul class="info__creators">
{% for cards_rating in category %}
    <li class="info__creator info__creator--active">
        <div class="info__icon">
            <img src="{{ cards_rating.icons.url}}" alt="{{ cards_rating.name}}" />
        </div>
        <div class="info__descr">
            <h4>{{ cards_rating.name}}</h4>
        </div>
      <a href="{{ cards_rating.get_absolute_url }}" class="info__button info__button--active cards__button">Подробнее</a>
    </li>

{% endfor %}
     </ul>
          </div>
{% endblock cards_rating %}

{% block cardscredit_rating %}

{% endblock cardscredit_rating %}
{% block banks_rating %}

{% endblock banks_rating %}


